.hero-container {
	display: grid;
	height: 700px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 10px;
	grid-template-areas:
		'Area1 Area1 Area4 Area3 Area8 Area8'
		'Area1 Area1 Area5 Area3 Area9 Area10'
		'Area2 Area2 Area6 Area7 Area9 Area11';
}

@media (max-width: 800px) {
	.hero-container {
		display: grid;
		height: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'Area1 Area1'
			'Area1 Area1'
			'Area1 Area1'
			'Area2 Area3'
			'Area2 Area4'
			'Area5 Area4'
			'Area5 Area4'
			'Area6 Area7'
			'Area8 Area9'
			'Area8 Area10'
			'Area11 Area10';
	}
}
